.PokeCard {
  list-style-type: none;
  margin: 0.5rem 0.2rem;
  width: 19%;
  background: #e5e5e5;
}
.PokeCard:hover {
  background: #d5d5d5;

}
.PokeCard-name{
  font-size: 1.125rem;
}

.PokeCard-img {
  width: 50%;
}

